@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(186, 186, 247);
    background-image: url(../assets/bg.png);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

main{
    background-color: #1a1616c6;
    width: 360px;
    padding: 2em;
    border-radius: 5px;
}

header{
    display: flex;
    flex-wrap: wrap;
}

header p{
    text-align: center;
    width: 100%;
    margin-bottom: 1em;
    font-size: 1.1em;
}

header input {
    flex: 1;
    font-size: 1em;
    padding: 0 10px;
    border-radius: 5px;
    letter-spacing: 0.1px
}

header button {
    min-width: 40px;
    margin-left: 5px;
    aspect-ratio: 1;
    border-radius: 5px;
    cursor: pointer;
    background-color: #E4EFFA;
    transition: all 300ms ease;
}

header button:hover {
    background-color: #84c0fc;
    
}

header button i {
    color: #000;
}

div#conteiner-informacoes {
    display: none;
    flex-direction: column;
    align-items: center;
}

#img-bandeira{
    width: 26px;
}

h2 {
    margin-bottom: 0.5em;
}

h1 {
    font-size: 3.2em;
    padding: 0.1em;
}

div#conteiner-descricao {
    display: flex;
    align-items: center;
    margin-bottom: 0.5em;
}

div#conteiner-umidade-vento {
    display: flex;
}

div#conteiner-umidade {
    border-right: 2px solid #E4EFFA;
    padding-right: 1em;
    margin-right: 1em;
}

header input:focus {
    outline: 2px solid black;
}

header button:focus {
    outline: 2px solid black;
}

div#conteiner-erro {
    text-align: center;
    display: none;
}

p#msg-erro {
    color: rgb(246, 105, 105);
    letter-spacing: 1px;
}

span, p, i, h1, h3 {
    color: #E4EFFA;
}